@*

*@

@{
    ViewData["Title"] = "IS 413 is the best";
}


<!--Header that lists your preferred name-->
<header>
    <h1><i class="fa fa-cloud"></i> Amy Zhang <i class="fa fa-cloud"></i></h1>
    <h4>Welcome to my page</h4>
</header>

<!--A picture of yourself doing something you enjoy-->
<img id="picGanderson" src="img/fam.jpg" class="center" />
<h6>I enjoy spending time with my family and exploring the world</h6>

<!--A paragraph on what you hope to get out of this IS 413 class-->
<br />

<p>
    I am excited to learn more about C# and use it to build awesome web applications!
    I hope to build unity with my teammates as we work together on projects and accomplish
    what may seem impossible. I am excited to push myself and go beyong the scope of the class
    if possible in order to prepare myself for industry. I hope to continue to understand OOP
    and get more comfortable to MVC
</p>

<!--an ordered list of my top 3 jobs-->
<b><p>The Top #3 jobs I'm interested in pursuing</p></b>
<ol>
    <li>Data Analyst</li>
    <li>Software Developer</li>
    <li>Consultant</li>
</ol>

<br /><br /><br /><br />
    
